LLM_PROVIDER='ollama'
EMBEDDING_MODEL_PREF='nomic-embed-text:latest'
OLLAMA_BASE_PATH='{{  elb_dns_name  }}:11434'
OLLAMA_MODEL_PREF='llama3:latest'
OLLAMA_MODEL_TOKEN_LIMIT='4096'
EMBEDDING_ENGINE='ollama'
EMBEDDING_BASE_PATH='{{  elb_dns_name  }}:11434'
EMBEDDING_MODEL_MAX_CHUNK_LENGTH='8192'
VECTOR_DB='pgvector'
PGVECTOR_CONNECTION_STRING='postgresql://{{  db_user  }}:{{  db_password  }}@{{  endpoint  }}/{{  db_name  }}'
PGVECTOR_TABLE_NAME='anythingllm_vectors'
WHISPER_PROVIDER='local'
JWT_SECRET='0b9a01ce-0848-4353-a62c-40b306717cd0'
TTS_PROVIDER='native'
STORAGE_DIR='/app/server/storage'
SIG_KEY='a1c2090b9e6bbecab3eda57aef87b9784fed57dd9046ae5e0fc6e7adc6310f7d'
SIG_SALT='5aa3fcc5e4bd872954de8bdd0247dea0a8c8cbe9d805e065bfc350ca20b38d48'
PASSWORDMINCHAR='8'
SIMPLE_SSO_ENABLED=1
MULTI_USER_ENABLED=1
DEFAULT_USER='admin'