Host bastion
  HostName {{ bastion_ip }}
  User {{ ssh_user }}
  IdentityFile {{ private_key_path }}

{% for host in llm_hosts %}
Host {{ host.name }}
  HostName {{ host.ip }}
  User {{ ssh_user }}
  IdentityFile {{ private_key_path }}
  ProxyJump bastion
{% endfor %}
